/* Thiet lap chung */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Hind', sans-serif;
    color: #212529;
    line-height: 1.5;
    background-color: white;
}

/* Start Header */
header {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
}

header .navbar-brand {
    font-size: 36px;
    color: #fff;
}

header .navbar-brand i {
    font-size: 45px;
    color: green;
}

#navbarNav .nav-item {
    margin: 0px 10px;
}

#navbarNav .nav-item .nav-link {
    color: #fff;
    transition: all 1s;
}

#navbarNav .nav-item:hover .nav-link {
    color: green;
}

#navbarNav .nav-item::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: green;
    display: block;
    transition: all 0.5s;
}

#navbarNav .nav-item:hover::after {
    width: 100%;
}

#navbarNav .nav-item.active .nav-link {
    color: green;
}

#navbarNav .nav-item.active::after {
    width: 100%;
}
/* End Header */

/* Star Carousel */
.carousel .carousel-item {
    height: 100vh;
}

.carousel .carousel-caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel .carousel-caption h5 {
    font-size: 56px;
    line-height: 65px;
}

.carousel .carousel-caption p {
    font-size: 24px;
}

.carousel-thump {
    width: 140px;
    padding: 8px;
    border-radius: 50%;
    margin: auto;
    backdrop-filter: blur(3px);
}

.carousel-caption img {
    width: 140px;
    border-radius: 50%;
    margin: auto;
}

.carousel .carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: none;
}

.carousel .carousel-indicators li.active {
    background-color: green;
}

.carousel-indicators {
    bottom: 10%;
}
/* End Carousel */

/* Start Project */

.container {
    max-width: 1140px;
}

.projects__item {
    margin-top: 30px;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.projects__item p {
    color: grey;
}

.projects__item .card-body {
    border: 1px solid transparent;
    border-radius: 0 0 1rem 1rem;
    transition: all 1s;
}

.card-body {
    min-height: 1px;
    padding: 1.25rem;
    flex: 1 1 auto;
}

.projects__item:hover .card-body {
    border-color: grey;
    border-top-color: transparent;
}

.projects__item:hover h3 {
    color: green;
}

.project .nav-pills .nav-link {
    color: #1a1d2d;
    border: 1px solid #1a1d2d;
    margin: 0 5px;
}

.project .nav-pills .nav-link.active, .project .nav-pills .show > .nav-link {
    background-color: green;
    color: #fff;
    border-color: green;
}

/* End Projects */

/* Start Features */
.feature {
    background: url(./image/3.jpg) no-repeat center;
    padding: 100px 0 120px;
    background-attachment: fixed;
    position: relative;
}

.feature .overlay {
    background: rgba (7,10,12,0.72);
}

.feature .heading {
    position: relative;
    color: white;
}

.heading h2 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;

}

.row {
    display: flex;
}

.feature_item {
    padding: 40px 40px;
    border-radius: 10px;
    border: 1px rgba(255, 255, 255, 0.1)solid;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur (3px);
    transition: all 1s;
}

.feature_item i {
    font-size: 48px;
    color: green;
}

.feature_item h4 {
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    padding-top: 25px;
    font-weight: 800;
}

.feature_item p {
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.feature_item:hover {
    background: black;
    border-color: white;
}
/* End Feature */

/* Star award */

.award {
    position: relative;
    color: grey;
    padding: 70px 0;
}

.award_bg {
    background-image: url(./image/memphis_3.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% auto;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.award_left {
    background: rgba(255,255,255,0.25);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    padding: 45px;
}

.award_right {
    padding: 45px 0;
}

/* End award */
 
/* Start Footer */

footer {
    background: #222222;
}

footer a {
    color: #aaa;
}

footer p {
    color: #aaa;
    margin: 0;
}

footer a:hover {
    text-decoration: none;
    color: green;
}

.footer_main i {
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    border: 1px solid #454545;
    transition: all 1s;
}

.footer_main a {
    margin-right: 10px;
}

.footer_main a:last-child {
    margin-right: 0;
}

.footer__copies {
    border-top: 1px solid #454545;
    padding-top: 30px;
    margin-top: 30px;
}

.footer_main i:hover {
    border-color: green;
}
/* End Footer */

/* Responsive Setting */

/* Responsive Header */

header .navbar-toggler {
    background-color: green;
}

header .navbar-toggler:hover {
    background-color: #0ea8cf;
}

/* Header khi menu < 992px */
@media screen and (max-width:991.98px) {
    header .navbar-collapse {
        background-color: white;
    }
    #navbarNav .nav-item {
        margin: 0;
        padding: 0 10px;
    }
    #navbarNav .nav-item:hover {
        background-color: green;
    }
    #navbarNav .nav-item .nav-link {
        color: green;
    }
    #navbarNav .nav-item:hover .nav-link {
        color: white;
    }
    #navbarNav .nav-item:hover::after, #navbarNav .nav-item.active::after {
        width: 0;
    }
}

/* Responsive header logo <= 376px */
@media screen and (max-width:376px) {
    header .navbar-brand i {
        font-size: 8vw;
    }
    header .navbar-brand {
        font-size: 7vw;
    }
}

/* Responsive Carousel */

.carousel-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(1) {
    background-image: url(./image/finland.jpg);
}

.carousel-item:nth-child(2) {
    background-image: url(./image/mountains.jpg);
}

.carousel-item:nth-child(3) {
    background-image: url(./image/mountains-1.jpg);
}

/* Carousel responsive height <= 415px */

@media screen and (max-height:415px)  {
    .carousel-thump {
        width: 100px;
    }
    .carousel .carousel-caption h5 {
        font-size: 5vw;
        line-height: 5vw;
    }
    .carousel .carousel-caption p {
        font-size: 3vw;
    }
    .carousel-caption {
        padding-top: 0;
    }
}

/* Carousel responsive width <=320px */
@media screen and (max-width:320px) {
    .carousel-thump {
        width: 120px;
    }
    .carousel .carousel-caption h5 {
        font-size: 10vw;
        line-height: 10vw;
    }
    .carousel .carousel-caption p {
        font-size: 5vw;
    }
    .carousel-caption {
        padding-top: 0;
    }
}

/* Responsive project */

@media screen and (max-width:575.98px) {
    .projects__content .nav .nav-link {
        padding: 0.5rem;
    }
    .bg-overlay {
        background-position: right top;
    }   
}

@media screen and (max-width:415px) {
    .projects__content .nav .nav-item {
        margin-bottom: 1rem;
    }
}

/* Responsive Award */
@media screen and (max-width:575.98px) {
    .award_bg {
        background-size: cover;
    }
}

